<div class="ui one column stackable center aligned page grid">
  <div class="column twelve wide">
  	<h1>New task</h1>
    <div class="ui stacked segment">
    	<%= render 'form' %>
    </div>  
  </div>  
</div>

<%= link_to 'Back', tasks_path %>
